/* Formas */

.boton{
background-color: #f28279;
padding: 20px;
border-radius: 15px;
-webkit-border-radius: 15px;
width: 100%;

}


.boton_a {
color: #FFF;
font-weight: 400;
text-decoration: none;
text-transform: uppercase;
}
